repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files


  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.0.197
    hooks:
      - id: rumdl
        # MD013: Line length rule disabled to allow long URLs and code blocks.
        # MD033: Inline HTML allowed for custom formatting in documentation.
        # MD036: Emphasis style (bold/italic) flexibility needed for legacy docs.
        args: [ --disable, "MD013,MD033,MD036", --fix ]
