name: Publish Cookbook
on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Set up Python
        run: uv python install 3.12

      # We use --system here to install into the environment managed by the action
      # This installs the dependencies listed in pyproject.toml
      - name: Install dependencies
        run: |
          uv venv
          uv sync
          uv pip install .

      - name: Deploy to GitHub Pages
        run: |
          uv run mkdocs build
          uv run mkdocs gh-deploy --force
